.search-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 50px;
}

.search-tools label,
.search-tools select,
.search-tools input {
  width: 275px;
  display: inline-block;
  height: 40px;
  font-size: 1em;
  padding-left: .4em;
  background: white;
}

.search-tools input,
.search-tools select {
  border: solid 1px lightgray;
  border-radius: 5px;

}


.search-tools > div {
  margin: 10px;
}

.search-tools label {

}

.search-tools select {
}

.search-tools input {
  border: 1px solid lightgray;
}

.search-tools > div {
  position: relative;
}

.fa.fa-search {
  position: absolute;
  right: 0px;
  top: 38px;
}


.search-result {
  margin-top: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-result p {
  color: red;
}

label {
  display: block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {

}
