<div id="search-component">
  <div class="search-tools">

    <div>
      <label for="search-box">Find Initiative
        <input [(ngModel)]="searchTerm" id="search-box" [formControl]="searchControl" />
      </label>
      <span class="fa fa-search"></span>

    </div>

    <div class="select-category">
      <label for="categories">Global Grand Challenge
        <select name="categories"
                [(ngModel)]="selectedCategory"
                (change)="search()">
          <option *ngFor="let category of categories; let i = index;" [attr.value]="i">
            {{ category }}
          </option>
        </select>
      </label>
    </div>

    <div class="select-program">
      <label for="programs">Type of Initiative
        <select name="programs"
                [(ngModel)]="selectedProgram"
                (change)="search()">
          <option *ngFor="let program of programs; let i = index;" [attr.value]="i">
            {{ program }}
          </option>
        </select>
      </label>
    </div>

  </div>

  <div>
    <h3>Initiatives</h3>
    <div class="search-result">
      <a *ngFor="let initiative of initiatives" (click)="gotoDetail(initiative)" class="col-1-4">
        <div class="module initiative">
          <h4>{{initiative.name}}</h4>
        </div>
      </a>
      <p *ngIf="initiatives.length === 0">No Initiatives found</p>
    </div>
  </div>

</div>
