

.search-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 0;
}

.box {
  position: relative;
  margin: 10px;
}

.fa.fa-search {
  position: absolute;
  right: 0;
  top: 38px;
}

label, select, input {
  width: 275px;
  display: inline-block;
  height: 40px;
  font-size: 1em;
  padding-left: .4em;
}

input, select {
  border: solid 1px lightgray;
  border-radius: 5px;
}

input:hover, select:hover {
  border: solid 1px #DE2763;
}

input:focus, select:focus {
  outline: none;
}

label {
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

@media screen and (min-width: 450px) {
  .search-tools {
    margin: 20px;
  }
}









