<h3>See the impact 5000+ impact initiatives our community is creating</h3>
<div class="search-tools">

    <div class="box">
      <label for="search-box">Find Initiative
        <input [(ngModel)]="searchTerm" id="search-box" [formControl]="searchControl" />
      </label>
      <span class="fa fa-search" (click)="search()"></span>
    </div>

    <div class="box">
      <label for="ggcs">Global Grand Challenge
        <select name="ggcs"
                [(ngModel)]="selectedGGC"
                (change)="search()">
          <option *ngFor="let ggc of ggcs">
            {{ ggc }}
          </option>
        </select>
      </label>
    </div>

    <div class="box">
      <label for="tech">Technology Focus
        <select name="tech"
                [(ngModel)]="selectedTech"
                (change)="search()">
          <option *ngFor="let tech of techs">
            {{ tech }}
          </option>
        </select>
      </label>
    </div>

  </div>

