 h1, h2, h3 {
   text-align: center;
 }

.initiative {
    background-color: lightgray;
    padding: 10px;
    box-shadow: 1px 2px 2px 0px;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

